.bg-box {
    background-color: green;
    width: 1300px;
    height: 750px;
    background-image: url('../images/pole-zelen-trava-dom-derevya.jpg'), url('../images/green-png-44873.png'), url('../images/lamp-png-34914.png'), url('../images/jezyk.png'), url('../images/donat.png');
    background-position: center, bottom, top, left, right;
    background-repeat: no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: auto, 300px, 62px, 40px, 40px;
}